# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Ambiente
.env

# Modelos salvos
*.pkl
*.joblib

# Banco SQLite local
manutencao.db

# Arquivos temporários
*.log
*.tmp

# Test result cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.cache/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Git / SWAP
*.swp

# remover_vazios.py
remover_vazios.py

# Banco adicional (se aplicável)
database.db

# Log da aplicação
api.log
